html {
  background-color: #1e1b1c;
  font-family: sans-serif;
  color: pink;
  text-align: center;
  margin: auto 0;
}

header {
  text-align: center;
  margin: auto 0;
}

button {
  background-color: lightblue;
  margin: 10px;
}

/* artist grid display */
.container {
  display: grid;
  width: 500px;
  gap: 10px;
}

.artist-grid{
  display: grid;
  place-self: center;
  justify-content: center;
  grid-template-columns: 100px 100px 100px 100px 100px;
  gap: 10px;
}

.artist-card{
  text-align: center;
}

.artist-card p, .track-card p{
  font-size: 12px;
  color:aliceblue;
}

.track-grid {
  display: grid;
  place-self: center;
  justify-content: center;
  grid-template-columns: 100px;
  gap: 10px;
}

.track-card {
  display: flex;
  text-align: left;
  align-items: center;
  width: 800px;
}


.track-card p{
  font-size: 12px;
  color:aliceblue;
  /* text-align: center; */
  margin: 20px;
}

#avatar {
  border-radius: 20px;
}

#trackImages img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

#artistImages img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

#myInput {
  width: 92px;
}