html {
  background-color: #1e1b1c;
  font-family: sans-serif;
  color: pink;
}

#trackAmount {
  width: 10%;
}

#artistImages img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}